.image {
    width: 1200px;
    /*background: white;*/
    height: 260px;
    margin-bottom: 20px;
}
.left-image {
    width: 617px;
    height: 260px;
    border-radius: 5px;
    float: left;
}
.left-image .leftimage-Box{
    width: 617px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.leftimage-leftbuttom{
    /*width: 40px;*/
    /*height: 32px;*/
    position: absolute;
    left: 5%;
    top: 114px;
    /*background: #ffffff;*/
    z-index: 999;
}
.leftimage-rightbuttom{
    /*width: 40px;*/
    /*height: 32px;*/
    position: absolute;
    right: 5%;
    top: 114px;
    /*background: #ffffff;*/
    z-index: 999;
}
.leftimage-Box .iconfont{
    font-size: 35px;
    color: #e4e3e3;
}
.leftimage-bottombuttom{
    width: 100px;
    height: 8px;
    position: absolute;
    right: 50%;
    bottom: 16px;
    left: 256px;
    /*background: #ffffff;*/
    z-index: 999;
    display: flex;
    justify-content: space-between;

}
.leftimage-bottombuttom li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #e4e3e3;
    opacity: .9;
    text-indent: -9999px;
    cursor: pointer;
    transition: all 150ms;
}

.left-image .leftimage-Box img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.leftimage-Box a{
    height: 260px;
    display: block;
    overflow: hidden;
}
.leftimage-Box > li{
    width: 617px;
    height: 260px;
    display: block;
    position: absolute;
}
.middle-image{
    width: 270px;
    height: 260px;
    float: left;
    margin-left: 14px;
}
.middle-image li{
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.middle1-image > div >a{
    overflow: hidden;
    display: block;
    /*position: relative;*/
}
.right-image{
    width: 282px;
    height: 260px;
    float: right;
    background: url("https://www.yangqq.com/skin/jxhx/images/quote-bg.png") no-repeat top right rgba(42,42,42,1);
}
.right-image h2{
    font-size: 22px;
    margin: 10px;
    color: #89919a;
    padding-bottom: 10px;
}
.right-image p{
    font-size: 12px;
    line-height: 28px;
    padding: 0 0 0 20px;
    color: #d0d2d4;
}
.right-image>.right-log{
    width: 260px;
    height: 50px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-around;
}
.right-log>li{
    width: 50px;
    height: 50px;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

.right-log .iconfont{
    font-size: 36px;
    color: #ef5509;
}
.right-log li .log1{
    color: #ef5509;
}
.right-log li .log2{
    color: #FF991A;
}
.right-log li .log3{
    color: #1296DB;
}
.right-log li .log4{
    color: #07AF12;
}
